@model IEnumerable<Inmobiliaria3.Models.Pagos>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de pagos</h1>

<p>
    @Html.ActionLink("Nuevo Pago", "Create", new { IdAlquiler = ViewBag.IdAlquiler })

    <!--

    <a href="Html.ActionLink("Nuevo Pago", "Create", new { IdAlquiler = ViewBag.IdAlquiler })" class="btn btn-primary">
    </a>

        <a asp-action="Create" class="btn btn-primary">Nuevo pago</a>
    -->
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NroPago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Importe)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NroPago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Importe)
            </td>
        </tr>
}
    </tbody>
</table>
